@use '../../styles/variables';

.page__header {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: variables.$font-default-color;
}