@use "../../styles/variables";
@use "../../styles/mixins";

.about-me {
  @include mixins.set-container-padding();
  overflow-y: hidden;
  padding-top: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    position: static;
    margin: 0;
    width: 100vw;
  }

  &__img-container {
    position: relative;
    width: 400px;
    height: 530px;
    border-top: 1rem solid rgba(72,19,44, 0.7);
    border-left: 1rem solid rgba(72,19,44, 0.7);
    box-shadow: rgba(72,19,44, 0.3) 0px 19px 38px, rgba(72,19,44, 0.22) 0px 15px 12px;
    left: 1rem;
    z-index: 1;
  }

  &__img {
    border: .7rem solid white;
  }

  &__message {
    position: static;
    top: 7rem;
    background-color: rgb(204,103,96, 0.3);
    z-index: 0;
    padding: 3rem;
    min-height: 32rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--box {
      width: 100vw;

      h2 {
        font-size: 2rem;
        line-height: 2rem;
        font-family: variables.$font-roboto;

        &::after {
          content: '';
          display: block;
          width: 4rem;
          height: 1px;
          border: 2px solid variables.$font-main-color;
          background-color: variables.$font-main-color;
          border-radius: 5px;
          margin: 2rem 0;
        }
      }

      p {
        margin-bottom: 2rem;
        line-height: 1.5rem;
        width: 100%;
      }
    }
    &--button {
      width: 10rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about-me {
    @include mixins.set-container-width(".about-me");
    overflow-y: hidden;
    min-height: 125vh;
  
    &__container {
      display: flex;
      flex-direction: row;
      position: relative;
      min-height: 100vh;
    }

    &__img-container {
        position: relative;
        width: 600px;
        height: 750px;
        margin-top: 85px;
    }
    &__message {
      position: absolute;
      justify-content: flex-end;
      width: 80%;
      left: 10rem;
      top: -2rem;

      &--box {
        width: 50%;
      }

      h2 {
        font-size: 3rem;
        line-height: 3.4rem;
      }

      p {
        margin-bottom: 2rem;
        line-height: 1.5rem;
      }


    }
  }
}
