@use '../../styles/variables';
@use '../../styles//mixins';

@include mixins.set-container-width(".sign-up-form");

.sign-up-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 95vh;
  background-image: url(https://res.cloudinary.com/dq66wlb15/image/upload/v1696657996/element5-digital-ceWgSMd8rvQ-unsplash_d2eepa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.1;
    z-index: 0;
  }

  &__img {
    z-index: -1;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 2.2rem;
  }

  &__form {
    width: 100%;
    padding: 2rem;
    border: 1px solid #e5e5e5;
    background-color: rgba(255, 220, 220, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    z-index: 1;

    &--error, &--success {
      border-radius: 0;
      margin-bottom: 1rem;
    }
  }

  &__alert-box {
    height: 2rem;
    margin: 0.7rem 0;
  }

  &__field {
    margin-bottom: 1.2rem;
  }

  &__action-link {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-bottom: 2rem;

    a {
      margin: 0 1rem;
      
      &:last-child {
        margin-right: 0;
      }
  
      &:hover {
        color: variables.$link-color-hover;
      }
    }
  }
}

/* Login form fields */
.sign-up-form-field {
  margin-bottom: 1.2rem;
}



/* Login form error message */
.sign-up-form-error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .sign-up-form {
    height: 90vh;

    &__container {
      width: 70vw;
    }
    
    &__form {
      width: 640px;  
    }
  }
}