@use '../../styles/variables';
@use "../../styles/mixins";

.contact-us {
    @include mixins.set-container-padding();
    --service-section-width: 320px;
    position: relative;

    &__container {
        
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: variables.$font-roboto;
        font-size: 2rem;
        margin-bottom: 3rem;
        color: variables.$font-main-color;
    }

    &__info {
        font-weight: bold;
        margin-bottom: 3rem;
        color: variables.$font-main-color;

        &-title {
            font-weight: bold;
            font-size: 2rem;
        }

        &--box {}

        &--icon {
            font-size: 1.5rem;
            transition: color ease-in .25s;
            display: inline-block;
            width: 1.5rem;
            margin-right: 1.2rem;
        }

        &--content {

            a {
                display: flex;
                align-items: center;
                margin: 1.2rem 0;
                transition: color .25s ease-in;
            }
        
            a:hover, a:hover .contact-us__info--icon {
                color: variables.$font-secondary-color;
            }

        }
    }


    &__message {
        &--first-row {
            margin-bottom: 1.5rem;
        }

        &--input {
            width: 100%;
        }

        &--textarea {
            width: 100%;
        }

        &--submit-box {
            margin-top: 1rem;
            border-radius: 0;
        }
    }

    
}

@include mixins.set-container-width(".contact-us");