@use '../styles/variables';

#root {
  font-family: variables.$font-roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200vh;
}

.home {
  &__main {
    margin-top: 6vh;
  }
}