@import url("https://fonts.googleapis.com/css2?&family=Open+Sans:wght@300&family=Poppins&display=swap");
$section-color: white;
$color-lightblue:#48142C;
$font-size-x-small: 16px;
$font-size-large: 24px;
$font-size-x-large: 48px;

$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto Serif', serif;
