@use '../../styles/variables';
@use '../../styles//mixins';

@include mixins.set-container-width(".footer");

.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$header-menu-bg-color;
  color: variables.$font-default-color;

  &__container {
    @include mixins.set-container-padding();
  }

  &__grid {
    width: 100%;
  }

  &__logo-img-container {
    position: relative;
    width: 175px;
    height: 160px;
  }

  &__copyright__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: variables.$bg-main-color;
    font-size: variables.$font-size-x-small;
  }

  &__social-networks {
    color: variables.$font-default-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    a {
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .social-networks--icon {
      display: inline-block;
      width: 1.2rem;
    }
  }

  &__section__container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;
    margin: auto;
    background-image: url(https://res.cloudinary.com/dzmkilinu/image/upload/v1689612718/medical-site/footer-shape_ilh1vv.png);
    background-color: variables.$footer-background;
    background-size: contain;
    background-position: center;
    color: variables.$footer-font-color;
    gap: 20px;
  }

  @media (min-width: 576px) {
    &__section__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      color: variables.$footer-font-color;


      .section {
        width: 40%;
      }
    }
  }

  @media (min-width:1024px) {
    &__section__container {
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-inline: 3rem;
      justify-content: space-between;
      color: variables.$footer-font-color;



      .section {
        width: 23%;

        &-title {
          font-size: variables.$font-size-large;
        }
      }
    }
  }

  @media (min-width:1440px) {
    &__section__container {
      padding-inline: 6rem;
      color: variables.$footer-font-color;

    }
  }
}