@use "../../styles/variables";
@use "../../styles/mixins";

.social-networks {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$font-main-color;
  z-index: 1;

  a {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 2rem;

    &:has(span) {
      width: 13.5rem;
    }
  }

  a:hover &--icon, a:hover > span {
    color: variables.$font-secondary-color;
  }

  span {
    margin-left: 1rem;
    padding: 0;
    transition: color ease-in .25s;
  }

  &--icon {
    font-size: 1.5rem;
    transition: color ease-in .25s;
  }
}